<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Login</title>
</head>
<body>

    <div class="wrapper">
        <div class="logo">
            <img src="https://i.pinimg.com/564x/28/09/8f/28098f43f6a6a558a3551d5fed597c6c.jpg" alt="zeherrrr">
        </div>
        <div id="admin-txt" class="text-center mt-4 name">
            Admin Panel
        </div>
        <form class="p-3 mt-3">
            <div class="form-field d-flex align-items-center">
                <span class="far fa-user"></span>
                <input type="text" name="userName" id="userName" placeholder="Username or Email">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="password" id="pwd" placeholder="Password">
            </div>
            <button class="btn mt-3">Login</button>
        </form>
        <div class="text-center">
            <a href="/register">Forget password?</a><div id="x23">or</div><a href="#">Sign up</a>
            <a href="/"></a>
        </div>
    </div>
</body>
</html>