<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/register.css">
</head>
<body>

    <div class="wrapper">
        <div id="joinUs">
            <h1>Join Us</h1>
        </div>

        <form action="/register" method="POST" class="register-form p-3 mt-3">
            <div class="form-field">
                <input type="text" name="fullname" id="fullName" placeholder="Full Name" required />
            </div>
            <div class="form-field">
                <input type="text" name="email" id="email" placeholder="Username or Email" required />
            </div>
            <div class="form-field">
                <input type="password" name="password" id="pwd" placeholder="Password" required />
            </div>
            <button class="btn mt-3">Join Now</button>
        </form>

        <div class="footer-links text-center">
            <a href="/login">Already have an account? Login</a>
        </div>
    </div>

</body>
</html>
