<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Success</title>
</head>
<body>
  <h1><%= message %></h1>
  <p>Now you can <a href="/login">login</a> with your credentials.</p>
</body>
</html>
