        /* Importing fonts from Google */
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

        /* Reseting */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        
        body {
            background: #000000;
        }
        
        .wrapper {
            max-width: 350px;
            min-height: 500px;
            margin: 80px auto;
            padding: 40px 30px 30px 30px;
            background-color: #252525;
            border-radius: 15px;
        }
        
        .logo {
            width: 80px;
            margin: auto;
        }
        
        .logo img {
            width: 100%;
            height: 80px;
            object-fit:  contain;;
            border-radius: 50%;
          
        }
        
        .wrapper .name {
            font-weight: 600;
            font-size: 1.4rem;
            letter-spacing: 1.3px;
            padding-left: 10px;
            color: #555;
        }
        #joinUs{
            text-align: center;
            padding-bottom: 30px;
            color: #fff;
        }
        
        .wrapper .form-field input {
            width: 100%;
            display: block;
            border: none;
            outline: none;
            background: none;
            font-size: 1.2rem;
            color: #ffffff;
            padding: 10px 15px 10px 10px;
            border-radius: 25px;
            border: solid rgb(104, 102, 102);
            /* border: 1px solid red; */
        }
        
        .wrapper .form-field {
            padding-left: 10px;
            margin-bottom: 20px;
            border-radius: 20px;
        }
        
        .wrapper .form-field .fas {
            color: #000000;
        }
        
        .wrapper .btn {
            box-shadow: none;
            width: 100%;
            height: 40px;
            background-color: #03A9F4;
            color: #fff;
            border-radius: 25px;
            box-shadow: none;
            letter-spacing: 1.3px;
        }
        
        .wrapper .btn:hover {
            background-color: #e50303;
        }
        
        .wrapper a {
            text-decoration: none;
            font-size: 0.8rem;
            color: #03A9F4;
        }
        
        .wrapper a:hover {
            color: #039BE5;
        }
        .text-center{
            padding-top: 10px;
            text-align: center;
        }
        #admin-txt{
            padding-bottom: 5px;
        }
        #x23{
            color: #fff;
        }
        
        @media(max-width: 380px) {
            .wrapper {
                margin: 30px 20px;
                padding: 40px 15px 15px 15px;
            }
        }